
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&family=Source+Code+Pro:wght@400;600&display=swap');

:root {
    --bg: #f6f4ef;  /* #f8f8f6 */
    --text: #1c1c1c; /* #373734 */
    --muted: #555;
    --link: #2457c5;
    --border: #ddd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --text: #e6e6e6;
        --muted: #a0a0a0;
        --link: #8ab4f8;
        --border: #2a2a2a;
    }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: serif;
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: 40em;
  margin: auto;
}

h1,h2,h3 {
  font-family: Lato, sans-serif;
}

pre, code, kbd, samp, var {
  font-family: "Source Code Pro", monospace;
}

a {
    color: var(--link);
}
